[toolchain]
channel = "1.85.0"
components = ["clippy", "rustfmt"]
targets = [
    "x86_64-unknown-linux-gnu",
    "x86_64-apple-darwin",
    "aarch64-apple-darwin", 
    "x86_64-pc-windows-msvc",
    "aarch64-linux-android",
    "armv7-linux-androideabi", 
    "i686-linux-android",
    "x86_64-linux-android"
]